<a href="https://colab.research.google.com/github/rohit-goyal/Intro-to-Data-Science/blob/main/programs_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total = 0
count = 20
while count > 5:
    total += count
    count -= 1 
print(total)

195

In [ ]:
# Factorial of a number(n!)
# n*(n-1)*(n-2).......1
# 5! = 5 x 4 x 3 x 2 x 1
# 6! = 6 x 5 x 4 x 3 x 2 x 1

n=int(input("Enter a number:"))
s=1
for i in range(1,n+1):
    s=s*i
    print(s)
print(s)

Enter a number:5
1
2
6
24
120
120

In [ ]:
# palindrome
x = "india"
y = "malayalam"

# reverse of string
print(x == x[::-1])

# reverse using a loop
rev = ""
for i in x:
    rev = i + rev
    print(rev)
print(x == rev)

False
i
ni
dni
idni
aidni
False

In [ ]:
x = "india"
y = "malayalam"

for i in range(0, len(x)):
    #print("First way", x[i], x[len(x) - 1 - i])
    print("second way", x[i], x[-(i+1)])
    if x[i] != x[-(i+1)]:
        print("No palindrome")
        break

print("Done")

second way i a
No palindrome
Its a palindrome

In [ ]:
y = "malayalam"

f = 0 # flag variables

for i in range(0, len(y)):
    #print("second way", y[i], y[-(i+1)])
    if y[i] != y[-(i+1)]:
        f = 1
        print("Not palindrome")
        break

if f == 0:
    print("its a palindrome")
print("Done")

second way m m
second way a a
second way l l
second way a a
second way y y
second way a a
second way l l
second way a a
second way m m
its a palindrome
Done

In [ ]:
y = "malayalam"

f = 0 # flag variables

for i in range(0, len(y)):
    print("second way", y[i], y[-(i+1)])
    if y[i] == y[-(i+1)]:
        pass
    else:
        f = 1
        break

if f == 0:
    print("its a palindrome")
else:
    print("Not palindrome")
print("Done")

second way m m
second way a a
second way l l
second way a a
second way y y
second way a a
second way l l
second way a a
second way m m
its a palindrome
Done

In [ ]:
y = "malayalam"

f = 0 # flag variables

# iterating over half string
for i in range(0, len(y)//2):
    if y[i] == y[-(i+1)]:
        continue
    else:
        f = 1
        break
    print("second way", y[i], y[-(i+1)])

if f == 0:
    print("its a palindrome")
else:
    print("Not palindrome")
print("Done")

its a palindrome
Done

In [ ]:
y = "malayalam"

for i in y:
    if i != "a":
        continue
    print(i)

a
a
a
a

In [ ]:
string = "1234567890"

string[0:5]

'12345'

In [ ]:
total = 0
N = 5
for i in range (1, N+1):
    for j in range(1, i+1):
        total += 1
print(total)

15

In [ ]:
total = 0
N = 5
for i in range (1, N+1):
    for j in range(1, i+1):
        total += 1
    total -= 1
print(total)

10

In [ ]:
total = 0
N = 5
for i in range (1, N+1):
    for j in range(1, N+1):
        total += 1
    total -= 1
print(total)

20

In [ ]:
total = 0
N = 5

for i in range (1, N+1):
    total += i
    
print(total)

15

In [ ]:
"""
a
aa
aaa
aaaa
aaaaa
"""

n = 5

for i in range(1, n+1):
    print("a" * i)

a
aa
aaa
aaaa
aaaaa

In [ ]:
""" 
    a
   aa
  aaa
 aaaa
aaaaa
"""

n = 5
for i in range(1, n+1):
    print(" " * (n-i), "a" * i)

     a
    aa
   aaa
  aaaa
 aaaaa

In [ ]:
""" 
1
12
123
1234
12345
"""
n = 5

for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end = "")
    print("")

1
12
123
1234
12345

In [ ]:
for i in range(1, n+1):
    row = ""
    for j in range(1, i+1):
        row = row + str(j)
    print(row)

1
12
123
1234
12345

In [ ]:
""" 
    1
   12
  123
 1234
12345
"""
n = 5

for i in range(1, n+1):
    row = ""
    for j in range(1, i+1):
        row = row + str(j)
    print(" " * (n-i), row)

     1
    12
   123
  1234
 12345