<a href="https://colab.research.google.com/github/rohit-goyal/Intro-to-Data-Science/blob/main/Python_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## BOOLEAN ALGEBRA

0   0000 0000
1   0000 0001
2   0000 0010
3   0000 0011
4   0000 0100
5   0000 0101
6   0000 0110
7   0000 0111

# 8 bits are 1 byte

In [ ]:
# VARIABLE AND DATATYPES
variable1 = "India"
print(type(variable1))
variable2 = 2

variable1 = 1
print(type(variable1))

# String
str1 = "ABCDazdbd-23|{}"

str2 = "India"
str3 = 'Country: {} Population: {} Capital: {} States: {}'
print(str3.format("India", "1.3B", "Delhi", "29"))
print(str3.format("USA", "360M", "DC", "50"))
()


# print(str3)
# str = f'Country: {str2}'
# print(str3)
# Integer
# -2^16 to +2^16
x = 10
y = 20
print(x*y)
# Boolean
x = True
y = False

# Floating point
# -2^32 to +2^32
x = 1.5
# Double
# -2^64 to +2^64
x = 1.0000000000000000000000002

# None or NULL or NaN
type(None)

<class 'str'>
<class 'int'>
Country: India Population: 1.3B Capital: Delhi States: 29
Country: USA Population: 360M Capital: DC States: 50
200

NoneType

In [ ]:
# OPERATIONS

## LOGICAL OPERATIONS
# and   
# not   # unary
# or

x = True
# print("not True = ", not x)

# print("True or False = ", True or False)
# print("True and False and True = ", True and False and True)

"""
    A    B     or    and    not a   not b   a ^ b
    0    0     0      0      1        1       0
    0    1     1      0      1        0       1
    1    0     1      0      0        1       1
    1    1     1      1      0        0       0
"""

# Precedence
# NOT
# AND 
# OR

(False) and (True) or ((True or False) and not (False or True))

False

In [ ]:
## ARITHMETIC OPERATIONS
### addition +
### subtraction as -
### multiplication *
### Division /, //
### Exponential **
print("5 / 3 = ", 5 / 3)
print("5 // 3 = ", 5 // 3)
### Modulus %
print("5 % 3 = ", 5 % 3)

5 / 3 =  1.6666666666666667
5 // 3 =  1
5 % 3 =  2

In [ ]:
# BODMAS

# Brackets
# Exponential
# Multiplication
# Div(/) Mod(%) FDiv(//)
# Addition
# Subtraction

5 * 32 // (2 ^ 4) - 9 % 2

25

In [ ]:
## RELATIONAL OPERATIONS

### ==, <, >, <=, >=, !=

print("2 == 3:", 2==3)
print("2 != 3:", 2!=3)

print("2 < 3:", 2<3)
print("2 > 3:", 2>3)

print("3 >= 3:", 3>=3)
print("3 > 3:", 3>3)

x = "in"

x is not None

2 == 3: False
2 != 3: True
2 < 3: True
2 > 3: False
3 >= 3: True
3 > 3: False

True

In [ ]:
# CONDITIONAL STATEMENTS
## if
x = 2
y = 99

if y % 2 != 0:
    print("Odd number")
    print("Ending program..")
print("Hello")
if y % 2 == 0:
    print("Even Number")
print("Done")

Odd number
Ending program..
Hello
Done

In [ ]:
## if-else
x = 2
y = 98

if y % 2 != 0:
    print("Odd number")
    print("Ending program..")
else:
    print("Even Number")
print("Done")

Even Number
Done

In [ ]:
## if-elif-else
choice = 100

if choice > 0:
    print("The number is positive")
elif choice == 0:
    print("The number is zero")
elif choice >= 100:
    print("The number is greater than 100")
else:
    print("The number is negative")
print("Done")

The number is positive
Done

In [ ]:
# Strings
x = "string1"

print("Length:", len(x))

print(x[0])
print(x[0:3])
print(x[-2])
print(x[0:3])

print(x[0:-4])

print(x[-len(x)])

Length: 7
s
str
g
str
str
s

In [ ]:
x = "minnesOta minnesota"

print(x.upper())
print(x.lower())
print(x.capitalize())
print(x.count("min"))
print(x.find("s"))   # index number of a character else -1
print(x.rfind("s"))   # index number of last occurence a character else -1

MINNESOTA MINNESOTA
minnesota minnesota
Minnesota minnesota
2
5
15

In [ ]:
x = "minnes01 taminne sota"
#x = "5"

print(x.isalpha())
print(x.isnumeric())
print(x.isalnum())

print(x.split("01"))

x = "India "
y = "India"
x#.strip()# == y.strip()

False
False
False
['minnes', ' taminne sota']

'India '

In [ ]:
x.strip()

'India'

In [ ]:
x = "india"
y = "India"
x == y

False

In [ ]:
# ASCII VALUES
"""
A-Z : 65 - 90
a-z : 97 - 122

0-9 : 48 - 57

" " : 32
"""

x = "a"
y = "b"
x < y

True

In [ ]:
"iyii" * 5

'iyiiiyiiiyiiiyiiiyii'

In [ ]:
# Shorthand implementation

x = 6

#x = x + 10

#x += 10

#x -= 10

x *= 10
x

60

In [ ]:
import math

# square root
math.sqrt(10)
# exp e^2
math.exp(2)
# Exponential operator
2**4

# rounding off
round(3.5)

# ceiling
math.ceil(3.1)
# floor
math.floor(3.9)

3

In [ ]:
x = 7 # assignment

x = 5 # assignment

x == 5
y = ""
y = x-5 #

print(x-5)
print(x)
print()
print(math.ceil(3.1))

0
5

4

In [ ]:
# Functions

def get_product_of_2():
    x = 2
    doub = x * 2
    return doub

def get_product(a):
    return a * 2

def multiply(a, b):
    return a*b

def print_greet(name):
    print("Hello ", name)

print(doub)

4

In [ ]:
y = 7
#get_product_of_2()
#print(get_product(y))

#print(multiply(2, 3))

# get_product(y)

print(print_greet("Azfar"))

Hello  Azfar
None

In [ ]:
# Scope of a variable
# global variables
# local variables

a = 10  # global variable

def get_product_of_2():
    a = 2  #local variable
    a = a * 2
    print("Inside function", a)

def change_value(b):
    global a
    a = a - b
    print("Inside function", a)

# get_product_of_2()
# print(a)

if 5 > 3:
    f = 1
    print("inside ",f)

print("outside ",f)

change_value(-1)
print("outside ", a)

inside  1
outside  1
Inside function 11
outside  11

In [ ]:
# complex functions

# x**2 + b*x + c

a = 5
b = 22
c = 9

def getroots(a, b, c):
    root1 = -b+(math.sqrt((b**2)-4*a*c))/2*a
    root2 = -b-(math.sqrt((b**2)-4*a*c))/2*a
    return(root1, root2)

root1, root2 = getroots(a, b, c)

print(root1, root2)

21.588989435406738 -65.58898943540675

In [ ]:
a = 1
b = 25
c = 9
getroots(a, b, c)

(-12.865338900488403, -37.1346610995116)

In [ ]:
# Default Arguments
# def get_product_of_2(a = 2):
#     a = a * 2
#     print("Inside function", a)

def get_product_of_2(a = 2, b = 2, c = 2):
    a = a * b
    print("Inside function", a**c)

def get_power(c, a = 2, b = 2):
    a = a * b
    print("Inside function", a**c)

#get_product_of_2()
get_power(2, 3)

Inside function 36

In [ ]:
# swapping values
a = 5
b = 8

# third variable
# t = a
# a = b
# b = t
# print("Third variable:", a, b)

a, b = b, a
print("direct assignment:", a, b)

def test(a, b):
    a = a+b
    b = a-b
    a = a-b
    print('a = ', a)
    print('b = ', b)
test(5,8)

direct assignment: 8 5
a =  8
b =  5

In [3]:
# Loops(iterative)
a = 5
def change_value(b):
    global a
    a = a - b
    print("Inside function", a)
# while loop
while a > 0:
    change_value(1)
    print("Done..")
print("Outside loop")

Inside function 4
Done..
Inside function 3
Done..
Inside function 2
Done..
Inside function 1
Done..
Inside function 0
Done..
Outside loop

In [2]:
# for loop
string = "India"
# for i in string:
#     print(i * 3)

for i in range(0, len(string) + 1):
  print(string[i] * 3)

III
nnn
ddd
iii
aaa

IndexError: ignored

0