In [ ]:
## BOOLEAN ALGEBRA

0   0000 0000
1   0000 0001
2   0000 0010
3   0000 0011
4   0000 0100
5   0000 0101
6   0000 0110
7   0000 0111

# 8 bits are 1 byte

In [44]:
# VARIABLE AND DATATYPES
variable1 = "India"
print(type(variable1))
variable2 = 2

variable1 = 1
print(type(variable1))

# String
str1 = "ABCDazdbd-23|{}"

str2 = "India"
str3 = 'Country: {} Population: {} Capital: {} States: {}'
print(str3.format("India", "1.3B", "Delhi", "29"))
print(str3.format("USA", "360M", "DC", "50"))
()


# print(str3)
# str = f'Country: {str2}'
# print(str3)
# Integer
# -2^16 to +2^16
x = 10
y = 20
print(x*y)
# Boolean
x = True
y = False

# Floating point
# -2^32 to +2^32
x = 1.5
# Double
# -2^64 to +2^64
x = 1.0000000000000000000000002

# None or NULL or NaN
type(None)

<class 'str'>
<class 'int'>
Country: India Population: 1.3B Capital: Delhi States: 29
Country: USA Population: 360M Capital: DC States: 50
200

NoneType

In [16]:
# OPERATIONS

## LOGICAL OPERATIONS
# and   
# not   # unary
# or

x = True
# print("not True = ", not x)

# print("True or False = ", True or False)
# print("True and False and True = ", True and False and True)

"""
    A    B     or    and    not a   not b   a ^ b
    0    0     0      0      1        1       0
    0    1     1      0      1        0       1
    1    0     1      0      0        1       1
    1    1     1      1      0        0       0
"""

# Precedence
# NOT
# AND 
# OR

(False) and (True) or ((True or False) and not (False or True))

False

In [12]:
## ARITHMETIC OPERATIONS
### addition +
### subtraction as -
### multiplication *
### Division /, //
### Exponential ^
print("5 / 3 = ", 5 / 3)
print("5 // 3 = ", 5 // 3)
### Modulus %
print("5 % 3 = ", 5 % 3)

5 / 3 =  1.6666666666666667
5 // 3 =  1
5 % 3 =  2

In [43]:
# BODMAS

# Brackets
# Exponential
# Multiplication
# Div(/) Mod(%) FDiv(//)
# Addition
# Subtraction

5 * 32 // (2 ^ 4) - 9 % 2

25

In [48]:
## RELATIONAL OPERATIONS

### ==, <, >, <=, >=, !=

print("2 == 3:", 2==3)
print("2 != 3:", 2!=3)

print("2 < 3:", 2<3)
print("2 > 3:", 2>3)

print("3 >= 3:", 3>=3)
print("3 > 3:", 3>3)

x = "in"

x is not None

2 == 3: False
2 != 3: True
2 < 3: True
2 > 3: False
3 >= 3: True
3 > 3: False

True

In [33]:
# CONDITIONAL STATEMENTS
## if
x = 2
y = 99

if y % 2 != 0:
    print("Odd number")
    print("Ending program..")
print("Hello")
if y % 2 == 0:
    print("Even Number")
print("Done")

Odd number
Ending program..
Hello
Done

In [35]:
## if-else
x = 2
y = 98

if y % 2 != 0:
    print("Odd number")
    print("Ending program..")
else:
    print("Even Number")
print("Done")

Even Number
Done

In [39]:
## if-elif-else
choice = 100

if choice > 0:
    print("The number is positive")
elif choice == 0:
    print("The number is zero")
elif choice >= 100:
    print("The number is greater than 100")
else:
    print("The number is negative")
print("Done")

The number is positive
Done

In [58]:
# Strings
x = "string1"

print("Length:", len(x))

print(x[0])
print(x[0:3])
print(x[-2])
print(x[0:3])

print(x[0:-4])

print(x[-len(x)])

Length: 7
s
str
g
str
str
s

In [68]:
x = "minnesOta minnesota"

print(x.upper())
print(x.lower())
print(x.capitalize())
print(x.count("min"))
print(x.find("s"))   # index number of a character else -1
print(x.rfind("s"))   # index number of last occurence a character else -1

MINNESOTA MINNESOTA
minnesota minnesota
Minnesota minnesota
2
5
15

In [83]:
x = "minnes01 taminne sota"
#x = "5"

print(x.isalpha())
print(x.isnumeric())
print(x.isalnum())

print(x.split("01"))

x = "India "
y = "India"
x#.strip()# == y.strip()

False
False
False
['minnes', ' taminne sota']

'India '

In [84]:
x.strip()

'India'

In [88]:
x = "india"
y = "India"
x == y

False

In [89]:
# ASCII VALUES
"""
A-Z : 65 - 90
a-z : 97 - 122

0-9 : 48 - 57

" " : 32
"""

x = "a"
y = "b"
x < y

True